{% extends "posts/base.html" %}
{% load posts_tags %}

{% block title %}Our Blog{% endblock %}

{% block content %}
    <h1>user page</h1>
    <h2> {{ CustomUser.profile.first_name }} {{ CustomUser.profile.last_name }}</h2>
    <p> {{ CustomUser.email }} - date joined us : {{ CustomUser.date_joined }}</p>
    <p> {{ CustomUser.profile.bio }}</p>
    <a href="{% url "posts:user_post_list" CustomUser.id %}">posts</a>-
    <a href="{% url "posts:user_commented_post_list" CustomUser.id %}">comments</a>
{% endblock %}