{% extends "posts/base.html" %}

{% block title %}Log in{% endblock %}


{% block content %}

<div class="container m-1">
  <form action="{% url 'users:login' %}" method="post">
      {% csrf_token %}
      <div class="col-10">
          <div class="panel panel-default">
              <div class="panel-heading m-3">Login</div>
              <div class="panel-body">
                  {% if error_message %}
                      <p class="bg-gradient ">{{ error_message }}</p>
                  {% endif %}
                  <div class="form-group clearfix">
                      <label for="email" class="col-6 control-label text-right">Email:</label>
                      <div class="col-6">
                          <input name="email" value="" type="text" class="form-control" />
                      </div>
                  </div>
                  <div class="form-group clearfix">
                      <label for="password" class="col-6 control-label text-right">Password:</label>
                      <div class="col-6">
                          <input name="password" type="password" class="form-control" />
                      </div>
                  </div>
                  <div class="col-md-6 col-md-offset-4 m-1">
                      <input name="login" type="submit" value="Login" class="btn btn-success" /> &nbsp;
                      <a href="{% url 'users:signup' %}">or Signup</a>
                  </div>
                  <input type="hidden" name="next" value="{{ request.GET.next }}"/>
              </div>
          </div>
      </div>
      
  </form>
</div>



{% endblock %}  

















<!-- 
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <button type="submit">Login</button>
</form> -->