{% block content %}
  <div>
    <ul class="menu">
      {% if request.user.is_authenticated %}
      <li><a href="{% url "users:logout" %}">log out- {{ request.user.email }}</a></li>
        
      {% else %}
        <li><a href="{% url "users:login" %}">log in</a></li>
        <li><a href="{% url "users:signup" %}">sign up</a></li>
      {% endif %}
    </ul>
  </div>
  <form action="{% url "upload" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image_file">
    <input type="submit" value="submit" />
  </form>

  {% if image_url %}
    <p>File uploaded at: <a href="{{ image_url }}">{{ image_url }}</a></p>
  {% endif %}

{% endblock %}